html {
  position: initial;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
	list-style: none;
  margin: auto 0;
}

img {
  display: block;
  border: 0;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #f9f9f9;
	height: 100%;
  scroll-behavior: smooth;
}

button, h1, h2, p {
  margin: 0;
}

button {
  background: none;
  border: none;
}

h1 {
  font-size: 1.5rem; /* 24px / 16px */
}

h3 {
	font-size: 1.150rem;
	text-align: center;
}

a {
	transition: all .2s ease-in;
	-webkit-transition: all .1 ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease in;
  -ms-transition: all .1s ease in;
}

.strong {
  font-weight: 700;
}

.header {
  display: flex;
  background: #191818;
  justify-content: space-between;
  max-width: 100vw;
  margin: 0 auto;
}

.header-wrapper {
  flex: 1 1 auto;
  width: 50%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.social {
  display: flex;
  flex-flow: row wrap;
  height: 3.6em;
  padding-left: 1rem;
}

.social ul {
  display: flex;
}

.social li {
  float: left;
  padding: .925em 1em;
}

.social li:hover {
  background: #333;
}

.social li a {
  color: #999;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 3.6em;
  padding-right: 3rem;
}

.navbar ul {
  display: flex;
}

.navbar  li {
  float: left;
  padding: .925em .5em;
}

.navbar li:hover {
  background: #333;
}

.navbar-nav li:focus-within {
  display: block;
  background: #7f63a1;
  color: #fff;
  transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
}

.navbar li a {
  color: #999;
  font-family: 'Covered By Your Grace', cursive;
  text-decoration: none;
  font-size: 1.56em;
  letter-spacing: 1px;
  text-align: right;
  height: 100%;
}

.active {
  background: #7f63a1;
  color: #fff;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 550px) {

}

@media screen and (min-width: 600px) {

}

@media all and (max-width: 780px) {
  .navbar ul {
    display: none;
  }
  .navbar a.icon {
    display: block;
    float: right;
    margin: auto 0;
    font-size: 2em;
    color: #999;
  }
  .navbar ul .responsive {
    position: relative;
  }
  .navbar .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar ul .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.banner-wrapper::before {
  content: '';
  background: inherit;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  filter: blur(3px);
  -moz-filter: blur(3px);
  -webkit-filter: blur(3px);
  -o-filter: blur(3px);
}

.banner-wrapper {
  background: linear-gradient(to bottom, rgba(16,16,16,.52), rgba(255,255,255,1)), url('../images/dracula-curse-screenshot.png') no-repeat;
  background: -webkit-linear-gradient(to bottom, rgba(16,16,16,.52), rgba(255,255,255,1)), url('../images/dracula-curse-screenshot.png') no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(rgba(16, 16, 16, .52)), color-stop(rgba(255, 255, 255, 1))), url('../images/dracula-curse-screenshot.png') no-repeat;
  background: -moz-linear-gradient(to bottom, rgba(16,16,16,.52), rgba(255,255,255,1)), url('../images/dracula-curse-screenshot.png') no-repeat;
  background: -o-linear-gradient(to bottom, rgba(16,16,16,.52), rgba(255,255,255,1)), url('../images/dracula-curse-screenshot.png') no-repeat;
  background: -ms-linear-gradient(to bottom, rgba(16,16,16,.52), rgba(255,255,255,1)), url('../images/dracula-curse-screenshot.png') no-repeat;
  background-size: cover;
  background-color: #000;
  width: 100%;
  height: 440px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid #777 .3em;
}

@media all and (max-width: 780px) {
  .banner-wrapper {
    display: none;
  }
}

.banner-title {
  background-color: #7f63a19e;
  width: 100%;
  padding: 3rem;
  margin: 0 auto;
}

.title-wrapper {
  margin: 0 auto;
  color: #333;
  text-align: center;
}

.banner {
  margin-left: auto;
  margin-right: auto;
  transform: translateY(95%);
}

.banner h1 {
  font-size: 5em;
  font-family: 'UnifrakturMaguntia', cursive;
  letter-spacing: 3px;
}

.banner h2 {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

div[role=page] main {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  justify-content: space-around;
}

div[role=page] main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  div[role=page] main {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  div[role=page] main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  div[role=page] main {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem;
  }
}

@media (min-width: 992px) {
  div[role=page] main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

div[role=page] main .about {
  color: #777777;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.about h3 {
  text-align: center;
  font-size: 1.50em;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.about img {
  margin: 20px auto;
  width: 80px;
}

.about > div {
  background-color: #ffffff;
  padding: 2em;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.1);
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.title {
  font-family: 'Covered By Your Grace', cursive;
  color: #333;
  font-size: 3em;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  height: 95px;
}

div[role=page] main .news {
  color: #777777;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  overflow: hidden;
}

article h3 {
  font-size: 1.50em;
  font-weight: 700;
  color: #777777;
  letter-spacing: 1.2px;
  text-align: justify;
}

.news article {
  width: 66.66667%;
  background-color: #ffffff;
  float: left;
  padding: 2em;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.1);
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.content {
  font-size: 1.125em;
  text-align: justify;
}

.content p {
  margin: 0 0 20px;
}

aside {
  width: 33.3333%;
  float: left;
  padding: 0 1rem;
}

div.sidebar {
  background-color: #ffffff;
  padding: 1.25rem;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.1);
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  border: 2px solid #7f63a1;
}

@media all and (max-width: 780px) {
  aside {
    display: none;
  }
  .news article {
    width: 100%;
  }
}

.spacer {
  height: 2rem;
}

.flexgrid {
  display: flex;
  justify-content: space-between;
}

.flexgrid .child {
  width: 240px;
}

.bio {
  padding: 1em;
}

div[role=page] main .team {
  color: #777777;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  overflow: hidden;
}

.team h3 {
  text-align: center;
  font-size: 1.50em;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.team article {
  background-color: #ffffff;
  padding: 2em;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.1);
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}
